# Dependencies
/node_modules
/public/build
/vendor

# Environment & Security
.env
.env.backup
.env.production
/storage/*.key

# Laravel Framework
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*

# Docker Specific
.docker/
docker-compose.override.yml

# Editor/OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache